
    {% extends 'base.html' %}
    {% block content %}
    
        <h1>Bem vindo ao Blog {{ user.username }}!</h1>
        <div><p>Nome: Susan Karin Soares Marques</p><br>
        <p>Sobre: Licenciada em Informática pelo Instituto Federal Do Rio Grande do Norte.<br>
        Eterna aprendiz em busca do aprimoramento. Espero contribuir com essa comunidade!</p>
        </div>

    {% endblock %}